<div class="bg-cover bg-center mt-16 flex justify-center gap-10 rounded-3xl "
    style="background-image: url('assets/grad.svg');">
    <div class="text-black text-left text-3xl font-bold flex flex-col ">
        <p>We add value to</p>
        <p>our student's</p>
        <p>journey</p>
        <div class="flex flex-col  text-white text-sm bg-black rounded-lg mx-auto p-2 font-light ml-1 mt-10">
            <p>Learn more</p>
        </div>
    </div>
    <div class="flex gap-10">
        <div class="flex flex-col">
            <p class="font-bold text-lg">Online classes</p>
            <p>Effective online classes</p>

            <div class="flex flex-col mt-10">
                <p class="font-bold text-lg">Easy registration</p>
                <p>registration made easy</p>                
            </div>
        </div>
        <div>
            <p class="font-bold text-lg">Expert trainers</p>
            <p>Our trainers make you a program nerd</p>

            <div class="flex flex-col mt-10">
                <p class="font-bold text-lg">Easy to use</p>
                <p>Our products are user friendly</p>
                </div>
        </div>
    </div>
    
</div>