<div class="grid grid-cols-2 value-rounded rounded bg-cover bg-center my-14 px-10 py-10"
    style="background-image: url('assets/grad.svg');">

    <div class="flex flex-col text-black text-3xl font-bold gap-4">
        <p>We add value to our student's journey</p>
        <div class="flex">
            <p class="text-white text-sm bg-black rounded-lg p-2 font-light">
                Learn more
            </p>
        </div>

    </div>

    <div class="grid grid-cols-2 gap-10">

        <div class="flex flex-col">
            <p class="font-bold text-lg">Online classes</p>
            <p class="text-xs">Effective online classes</p>
        </div>

        <div class="flex flex-col">
            <p class="font-bold text-lg">Easy registration</p>
            <p class="text-xs">Effective online classes</p>
        </div>

        <div class="flex flex-col">
            <p class="font-bold text-lg">Export classes</p>
            <p class="text-xs">Effective online classes</p>
        </div>

        <div class="flex flex-col">
            <p class="font-bold text-lg">Easy to use</p>
            <p class="text-xs">Effective online classes</p>
        </div>

    </div>
</div>