<app-header></app-header>
<app-left></app-left>
<app-hero></app-hero>
<app-numbers></app-numbers>
<app-value></app-value>
<app-learn></app-learn>
<app-students></app-students>
<app-grow></app-grow>
<app-footer></app-footer>

<div class="flex justify-center gap-5">
    <div class="flex flex-col">
        <p>we'll help you learn</p>
        <p>what you like</p>
        <div class="flex">
            <p>02</p>
            <div class="flex flex-col">
                <p>learn from industry experts</p>
                <p>text</p>
                <p>t2</p>                    
            </div>
      </div>
  </div>

           <div class="flex">
            <p>01</p>
            <div class="flex flex-col">
                <p>Go at your own pace</p>
                <p>t1</p>
                <p>t2</p>     
                <div class="flex justify-center">
                    <p>03</p>
                    <div class="flex flex-col">
                        <p>Find video course</p>
                        <p>t1</p>
                        <p>t2</p>                       
                        </div>
                </div> 
                       
                </div>
            </div>                   
        </div>
        
