<div class="flex justify-center gap-10 mt-20">
    <div class="flex flex-col font-bold text-xl">
        <p>Our numbers tell</p>
        <p>more about us</p>
    </div>
    <div class="flex gap-10">
        <div class="flex flex-col">
             <p class="text-cyan-500 text-5xl font-bold">6+</p>
            <div class="flex flex-col mt-3"> Total branches opened in
                <p>last year</p>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="text-cyan-500 text-5xl font-bold">5k+</p>
            <div class="flex flex-col mt-3"> Total branches opened in
                <p>last year</p>
            </div>
        </div>
        <div class="flex flex-col">
            <p class="text-cyan-500 text-5xl font-bold">1.5k+</p>
            <div class="flex flex-col mt-3"> Total branches opened in
                <p>last year</p>
            </div>
        </div>
    </div>
</div>