<div class="flex bg-cyan-50 w-150 rounded-full mb-12 justify-center">
    <img src="assets/std1.png" class="w-72 h-64 ">
    <div class="flex flex-col text-bold text-5xl font-bold mt-10">
        <p>Student's Say</p>
        <div class="flex flex-col text-bold text-xl mt-5">
            <p>"Finally, I've found a course platform that</p>
            <p>covers all bases for a bootstrapped startup,</p>
            <p>We were able to launch in days, not months,</p>
            <p>We have learned a lot!"</p>    
            </div>

            <p class="font-light text-cyan-300 text-xl mt-16">Kianna Franci</p>
            <p class="font-light text-black text-base mb-10">New York, USA</p>
        </div>       
</div>

